@tailwind base;
@tailwind components;
@tailwind utilities;

.widthDefault {
    width: min(1200px, 90vw);
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #011d2c;
    overflow-x: hidden;
}

/*!Scroll costumizado */
::-webkit-scrollbar {
    width: 0.5rem;
    heigth: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #4a8b57;
    border-radius: 1rem;
}

::-webkit-scroll-track {
    background-color: transparent;
}

.scroll-icon {
    position: relative;
    top: 3px;
    width: 3px;
    min-height: 8px;
    display: block;
    background: white;
    border-radius: 5px;
    animation: wheel-up-down 1.2s ease infinite;
}

@keyframes wheel-up-down {

    0%,
    100% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(18px);
        opacity: 0;
    }
}